* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #717171;
  background: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
section {
  padding: 80px 0;
}
h2 {
  font-size: 1.5rem;
  letter-spacing: 0.15em;
  line-height: 1;
  font-weight: 400;
}
h3 {
  font-size: 1rem;
}
h4 {
  margin-top: 0.8;
  font-size: 1rem;
}
img {
  max-width: 100%;
}
.intro {
  background-image: -webkit-gradient(linear, left top, right top, from(#000), to(rgba(0, 0, 0, 0.2))),
    url(../vendors/img/woman_lifting_weigth_alora-griffiths-mobile.jpg);
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0.2)),
    url(../vendors/img/woman_lifting_weigth_alora-griffiths-mobile.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  min-height: 100%;
  min-width: 700px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .intro .intro {
    background-image: url(../vendors/img/woman_lifting_weigth_alora-griffiths-mobile.jpg);
  }
}
.intro-middle h1 {
  font-size: 2rem;
  letter-spacing: 0.15em;
  color: white;
  text-transform: uppercase;
  line-height: 2;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 2rem;
}

.intro-middle h2 {
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  line-height: 2;
  text-align: left;
  margin-bottom: 4rem;
  margin-right: 0.4rem;
}
.intro-top-left h3 {
  font-weight: 100;
  text-align: left;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  font-size: 1rem;
}
.intro-top-left h3 span {
  font-size: 0.8rem;
}
.intro-top-right {
  text-align: right;
  margin-top: 0;
  font-size: 1rem;
}
.intro-top-right a:link,
.intro-top-right a:visited {
  font-weight: 400;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  margin-top: 0;
  padding-bottom: 0.3rem;
  margin-right: 0.3rem;
  border-bottom: 1.5px solid white;
}
.intro-top-right a:hover,
.intro-top-right a:active {
  color: #f5b70c;
  border-bottom: 1.5px solid transparent;
}

.intro-top-right .btn-ghost:link,
.intro-top-right .btn-ghost:visited {
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 10px;
  margin-top: 1rem;
  margin-right: 0.5rem;
  border: 2px solid #fb0;
  color: #fb0;
  text-align: center;
}
a:link,
a:visited {
  font-weight: 200;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  padding-top: 0.3rem;
  padding-bottom: 1px;
  padding-right: 3px;
  border-bottom: 1px solid white;
}
a:hover,
a:active {
  color: #f5b70c;
  border-bottom: 1px solid transparent;
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 0.8rem;
  padding-top: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  transition: #000 0.2s, border 0.2s, color 0.2s;
  -webkit-transition: #000 0.2s, border 0.2s, color 0.2s;
  -moz-transition: #000 0.2s, border 0.2s, color 0.2s;
  -ms-transition: #000 0.2s, border 0.2s, color 0.2s;
  -o-transition: #000 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  font-size: 0.8rem;
  background-color: #fb0;
  border: 1px solid #fb0;
  color: #fff;
  margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 5px 8px;
  margin: 1px 1px;
  border: 2px solid #fb0;
  color: #fb0;
  text-align: right;
}
.btn-full:hover,
.btn-full:active {
  font-weight: 400;
  border: 2px solid #ebac00e7;
}
.btn-ghost:hover,
.btn-ghost:active {
  font-weight: 400;
  border: 2px solid #ebac00e7;
  color: white;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited {
  font-size: 0.8rem;
  padding-top: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  transition: black 0.2s, border 0.2s, color 0.2s;
  -webkit-transition: black 0.2s, border 0.2s, color 0.2s;
  -moz-transition: black 0.2s, border 0.2s, color 0.2s;
  -ms-transition: black 0.2s, border 0.2s, color 0.2s;
  -o-transition: black 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  font-size: 0.8rem;
  background-color: #ffbb00;
  border: 1px solid #ffbb00;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 5px 8px;
  margin: 1px 1px;
  border: 2px solid #ffbb00;
  color: #ffbb00;
  text-align: right;
}

.btn-full:hover,
.btn-full:active {
  font-weight: 400;
  border: 2px solid #ebac00e7;
}

.btn-ghost:hover,
.btn-ghost:active {
  font-weight: 400;
  border: 2px solid #ebac00e7;
  color: white;
}
/*# sourceMappingURL=style.css.map */
