* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.6;
}

body {
  color: #717171;
  background: #404040;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  margin: 0;
}

.intro,
.pick,
section,
.moto,
.sessions,
.bootcamps,
.cities,
.trainers,
footer {
  display: block;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*
	1.Correct thetextwrappinginEdgeandIE.
	*2.Correctthecolorinheritance from`fieldset`elementsinIE.
	* 3.Removethepaddingsodevelopersarenotcaughtout whentheyzeroout
	*	`fieldset`	elements	in	all	browsers.
	*/
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
	*/
textarea {
  overflow: auto;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

img {
  max-width: 100%;
}

.intro {
  background-image: url(../vendors/img/scott-webb-KblIFRq1jkg-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 430px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  top: 0;
}

.intro .intro-middle h1 {
  font-family: 'Montserrat', sans-serif;
  line-height: 80%;
  font-size: 4.5rem;
  letter-spacing: 0.15rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 4rem;
}

.intro .intro-middle h2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 2rem;
  color: white;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 0.3rem;
}

.intro .intro-top-left {
  text-align: left;
  margin-left: 2rem;
  margin-top: 0.8rem;
}

.intro .intro-top-left h3 {
  font-size: 1rem;
  color: #ffbb00;
  font-weight: 200;
}

.intro .intro-top-right {
  text-align: center;
  font-size: 0.8rem;
  margin-left: 16rem;
  padding-top: 1.4rem;
}

.intro .intro-top-right a:link,
.intro .intro-top-right a:visited {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.intro .intro-top-right a:hover,
.intro .intro-top-right a:active {
  color: #ffbb00;
}

.intro .intro-top-right .btn-ghost:link,
.intro .intro-top-right .btn-ghost:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 7px 6px;
  margin: 2rem 0 1.8rem 1rem;
  border: 2px solid #ffbb00;
  color: #ffbb00;
  text-align: center;
}

.intro .intro-top-right .btn-ghost:hover,
.intro .intro-top-right .btn-ghost:active {
  font-size: 1rem;
  font-weight: 400;
  padding: 7px 8px;
  margin: 2rem 0 1.8rem 1rem;
  background-color: #e99c0f;
  border: 2px solid #ffbb00;
  color: white;
  text-decoration: none;
}

.intro .intro-bottom .btn-ghost:link,
.intro .intro-bottom .btn-ghost:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 1.8rem 0rem 1.8rem 2.2rem;
  border: 2px solid #ffbb00;
  color: #ffbb00;
  text-align: center;
  text-decoration: none;
}

.intro .intro-bottom .btn-ghost:hover,
.intro .intro-bottom .btn-ghost:active {
  font-size: 1rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 1.8rem 0rem 1.8rem 2.2rem;
  background-color: #e99c0f;
  border: 2px solid #ffbb00;
  color: white;
  text-decoration: none;
}

.intro .intro-bottom .btn-full:link,
.intro .intro-bottom .btn-full:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 8px;
  margin: 2rem 0 1.8rem 1rem;
  background-color: #ffbb00;
  border: 2px solid #ffbb00;
  color: black;
  text-align: center;
  text-decoration: none;
}

.intro .intro-bottom .btn-full:hover,
.intro .intro-bottom .btn-full:active {
  border: 2px solid #ebac00e7;
  background-color: #e99c0f;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.pick {
  background-image: url(../vendors/img/mark-bertulfo-Frx8qskriDI-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 430px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  top: 0;
  left: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.pick h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  padding-top: 1.2rem;
  text-align: center;
}

.pick h3 {
  font-size: 1.2rem;
  color: white;
  margin-right: 2rem;
}

.pick p {
  color: #ebebeb;
  font-size: 1.1rem;
  line-height: 1.3;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  margin-top: 0.2rem;
  margin-bottom: 1.6rem;
  font-weight: 400;
}

.pick .runner {
  transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  margin-bottom: -1rem;
}

.pick .dumbbell {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  padding: 1.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  margin-bottom: -1rem;
  margin-top: -1rem;
}

.pick .calendar {
  transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  margin-bottom: -1rem;
  margin-top: -1rem;
}

.moto {
  background-image: url(../vendors/img/plank_resizedform-QdoXA6PMy_I-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 430px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  top: 0;
}

.moto h4 {
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.moto .lesson {
  border: 1px solid white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.1;
  padding: 2px 15px 2px 15px;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}

.moto .lesson h5 {
  font-size: 1.1rem;
  color: white;
  text-align: center;
}

.moto .lesson h3 {
  font-size: 1.4rem;
  color: white;
  text-align: center;
}

.moto .lesson h3 h5,
.moto .lesson h3 h3 {
  font-family: 'Montserrat', sans-serif;
}

.sessions .girls {
  padding-top: 0.2rem;
  background-color: #e7e7e7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 430px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  top: 0;
  left: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sessions .girls h4 {
  color: #717171;
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-left: 1.2rem;
}

.sessions .girls h2 {
  font-size: 1.5rem;
  line-height: 1;
  padding-top: 0.8rem;
  text-transform: uppercase;
  text-align: center;
  color: #404040;
  font-weight: 600;
}

.sessions .girls .aboutTD {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem 1.2rem;
  margin-left: 0;
}

.sessions .girls .aboutTD:after {
  display: block;
  height: 2px;
  background-color: #717171;
  content: " ";
  width: auto;
  margin: 0 1rem;
  margin-top: 30px;
}

.sessions .girls .description {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem 1.2rem;
}

.sessions .girls h3 {
  font-size: 1.2rem;
  padding: 0.5rem;
  text-transform: uppercase;
  margin-left: 1rem;
  color: #404040;
}

.sessions .girls h3 span {
  border-style: groove;
  padding: 2px;
  margin-left: 16rem;
}

.sessions .girls p {
  font-size: 1rem;
  font-weight: 300;
  text-transform: initial;
  padding: 0.5rem 0 0.5rem 2.8rem;
}

.sessions .girls img {
  padding: 0.2rem 2rem;
}

.sessions .guys {
  padding-top: 0.2rem;
  background-color: #e7e7e7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 430px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  top: 0;
  left: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sessions .guys h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-left: 1rem;
  color: #404040;
}

.sessions .guys h3 span {
  border-style: groove;
  padding: 3px;
  margin-left: 17rem;
}

.sessions .guys p {
  text-transform: initial;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.5rem 0 0.5rem 4rem;
}

.sessions .guys img {
  padding: 0.2rem 2rem;
}

.bootcamps {
  padding-top: 2rem;
  background-color: #e7e7e7;
  padding-left: 2rem;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 430px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  top: 0;
  left: 0;
}

.bootcamps h2 {
  font-size: 1.5rem;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #404040;
  font-weight: 600;
  line-height: 1;
}

.bootcamps .Johny {
  margin-left: 0em;
}

.bootcamps .Johny a:link,
.bootcamps .Johny a:visited {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #404040;
}

.bootcamps .Johny a:link span,
.bootcamps .Johny a:visited span {
  border-style: groove;
  padding: 1px 2px;
  color: #717171;
  font-size: 1rem;
  margin-left: 2.8rem;
}

.bootcamps .Johny a:hover,
.bootcamps .Johny a:active {
  text-decoration: underline;
  color: #a4a4a4;
}

.bootcamps .Johny a:hover span,
.bootcamps .Johny a:active span {
  border-style: groove;
  padding: 1px 2px;
  color: #a4a4a4;
  font-size: 1rem;
  margin-left: 2.8rem;
}

.bootcamps .Aka a:link,
.bootcamps .Aka a:visited {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #404040;
}

.bootcamps .Aka a:link span,
.bootcamps .Aka a:visited span {
  border-style: groove;
  padding: 1px 2px;
  color: #717171;
  margin-left: 13.35rem;
  font-size: 1rem;
}

.bootcamps .Aka a:link a:hover,
.bootcamps .Aka a:link a:active,
.bootcamps .Aka a:visited a:hover,
.bootcamps .Aka a:visited a:active {
  text-decoration: underline;
  color: #a4a4a4;
}

.bootcamps .Aka a:link a:hover span,
.bootcamps .Aka a:link a:active span,
.bootcamps .Aka a:visited a:hover span,
.bootcamps .Aka a:visited a:active span {
  border-style: groove;
  padding: 1px 2px;
  color: #a4a4a4;
  margin-left: 20rem;
  font-size: 1rem;
}

.bootcamps .Darrell a:link,
.bootcamps .Darrell a:visited {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #404040;
}

.bootcamps .Darrell a:link span,
.bootcamps .Darrell a:visited span {
  border-style: groove;
  padding: 1px 2px;
  color: #717171;
  margin-left: 14.2rem;
  font-size: 1rem;
}

.bootcamps .Darrell a:hover,
.bootcamps .Darrell a:active {
  text-decoration: underline;
  color: #a4a4a4;
}

.bootcamps .Darrell a:hover span,
.bootcamps .Darrell a:active span {
  border-style: groove;
  padding: 1px 2px;
  color: #a4a4a4;
  margin-left: 14rem;
  font-size: 1rem;
}

.bootcamps .Nakreshia a:link,
.bootcamps .Nakreshia a:visited {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #404040;
}

.bootcamps .Nakreshia a:link span,
.bootcamps .Nakreshia a:visited span {
  border-style: groove;
  padding: 1px 2px;
  color: #717171;
  margin-left: 1rem;
  font-size: 1rem;
}

.bootcamps .Nakreshia a:link a:hover,
.bootcamps .Nakreshia a:link a:active,
.bootcamps .Nakreshia a:visited a:hover,
.bootcamps .Nakreshia a:visited a:active {
  text-decoration: underline;
  color: #a4a4a4;
}

.bootcamps .Nakreshia a:link a:hover span,
.bootcamps .Nakreshia a:link a:active span,
.bootcamps .Nakreshia a:visited a:hover span,
.bootcamps .Nakreshia a:visited a:active span {
  border-style: groove;
  padding: 1px 2px;
  color: #717171;
  margin-left: 0.7rem;
}

.bootcamps .Johny,
.bootcamps .Aka,
.bootcamps .Darrell,
.bootcamps .Nakreshia h4 {
  font-family: 'Roboto', sans-serif;
  color: #a4a4a4;
  font-size: 1.2rem;
}

.bootcamps .better {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding: 3rem 1rem;
  margin-right: 1.5rem;
}

.bootcamps .better:before {
  display: block;
  height: 2px;
  background-color: #717171;
  content: " ";
  width: auto;
  margin-bottom: 2rem;
}

.cities {
  background-color: #e7e7e7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 430px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  top: 0;
  left: 0;
}

.cities .box-1 {
  text-align: center;
}

.cities .box-2 {
  position: relative;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.cities .box-2 .Toronto {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cities .box-3 {
  text-align: center;
}

.cities .box-4 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.cities .box-4 .LA {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cities .box-5 {
  text-align: center;
}

.cities .box-6 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.cities .box-6 .NY {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cities .box-7 {
  text-align: center;
}

.cities .box-8 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.cities .box-8 .Miami {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cities .box-9 {
  text-align: center;
}

.cities .box-10 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.cities .box-10 .Atlanta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.trainers {
  background-image: url(../vendors/img/zachary-nelson-98Elr-LIvD8-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 430px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  top: 0;
  left: 0;
}

.trainers a:link,
.trainers a:visited {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #ffbb00;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-left: 2.2rem;
}

.trainers a:link a:hover,
.trainers a:link a:active,
.trainers a:visited a:hover,
.trainers a:visited a:active {
  text-decoration: underline;
  color: #e99c0f;
}

.best_trainers {
  background-image: url(../vendors/img/josiah-weiss-3dCljt2Pud8-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  padding: 0;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 430px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  padding-top: 16rem;
  left: 0;
}

.best_trainers h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7rem;
  font-weight: 700;
  margin-top: -15rem;
  margin-right: 1rem;
  margin-bottom: 10rem;
  text-align: right;
  color: black;
  text-transform: uppercase;
  line-height: 91%;
}

.best_trainers h2 {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #e7e7e7;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.best_trainers h2 a:link,
.best_trainers h2 a:visited {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #ffbb00;
  text-decoration: none;
  text-transform: uppercase;
}

.best_trainers h2 a:link a:hover,
.best_trainers h2 a:link a:active,
.best_trainers h2 a:visited a:hover,
.best_trainers h2 a:visited a:active {
  text-decoration: underline;
  color: #e99c0f;
  background-color: #e99c0f;
}

.navbar {
  overflow: hidden;
  background-color: #404040;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #e7e7e7;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

.navbar a:hover {
  background-color: #a4a4a4;
  color: black;
}

.navbar a.active {
  background-color: #ffbb00;
  color: white;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.footer {
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 430px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  left: 0;
}

.footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #717171;
  font-weight: 300;
  text-align: center;
  padding-top: 2rem;
}

.footer p::after {
  display: block;
  height: 1px;
  background-color: #717171;
  content: " ";
  text-align: center;
  width: auto;
  margin: 1rem 5rem;
}

.footer h4 {
  font-size: 0.7rem;
  text-align: center;
  color: #ffbb00;
  font-weight: 200;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=style.css.map */