* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #717171;
  background: black;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

img {
  max-width: 100%;
}

.intro {
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0.4))), url(../vendors/img/woman_lifting_weigth__780_alora-griffiths-LOnMc8Rp1Qs-unsplash.jpg);
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.4)), url(../vendors/img/woman_lifting_weigth__780_alora-griffiths-LOnMc8Rp1Qs-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 756px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  top: 0;
  left: 0;
}

.intro-middle h1 {
  font-family: 'Montserrat', sans-serif;
  line-height: 85%;
  font-size: 4.8rem;
  letter-spacing: 0.15rem;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 2.8rem;
  margin-bottom: 0.5rem;
}

.intro-middle h2 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 2.8rem;
  color: white;
  line-height: 1.4;
  text-align: left;
}

.intro-top-left {
  text-align: left;
  margin-left: 2.8rem;
  margin-top: 0.5rem;
}

.intro-top-left h3 {
  font-size: 1rem;
  color: #ffbb00;
  font-weight: 200;
}

.intro-top-right {
  text-align: center;
  font-size: 0.8rem;
  margin-left: 35rem;
  margin-bottom: 2rem;
}

.intro-top-right a:link,
.intro-top-right a:visited {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 1.8rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.intro-top-right a:hover,
.intro-top-right a:active {
  color: #ffbb00;
}

.intro-top-right .btn-ghost:link,
.intro-top-right .btn-ghost:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 8px 5px 8px;
  margin-top: 1.3rem;
  border: 2px solid #ffbb00;
  color: #ffbb00;
  text-align: center;
}

.intro-top-right .btn-ghost:hover,
.intro-top-right .btn-ghost:active {
  font-weight: 500;
  border: 2px solid #ffbb00;
  color: white;
}

.intro-bottom {
  margin-bottom: 0.2rem;
}

.intro-bottom .btn-ghost:link,
.intro-bottom .btn-ghost:visited {
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 8px;
  margin: 2rem 0 1.8rem 2.8rem;
  border: 2px solid #ffbb00;
  color: #ffbb00;
  text-align: center;
  text-decoration: none;
}

.intro-bottom .btn-ghost:hover,
.intro-bottom .btn-ghost:active {
  font-weight: 500;
  padding: 6px 8px;
  margin: 2rem 0 1.8rem 2.8rem;
  background-color: #e99c0f;
  border: 2px solid #ffbb00;
  color: white;
  text-decoration: none;
}

.intro-bottom .btn-full:link,
.intro-bottom .btn-full:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 8px;
  margin: 2rem 0 2.3rem 1rem;
  background-color: #ffbb00;
  border: 2px solid #ffbb00;
  color: black;
  text-align: center;
  text-decoration: none;
}

.intro-bottom .btn-full:hover,
.intro-bottom .btn-full:active {
  border: 2px solid #ebac00e7;
  background-color: #e99c0f;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.pick {
  background-image: url(../vendors/img/mark-bertulfo-Frx8qskriDI-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 760px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  top: 0;
  left: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pick h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: white;
  font-weight: 500;
  padding-top: 0.9rem;
  font-weight: 500;
}

.pick h3 {
  color: white;
  margin-top: 0.3rem;
}

.pick p {
  color: #ebebeb;
  font-size: 1.5rem;
  line-height: 1.3;
  margin-right: 3.3rem;
  margin-left: 3.3rem;
  margin-top: 0.2rem;
  margin-bottom: 1.4rem;
  font-weight: 400;
}

.pick .dumbbell {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  padding: 1.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.moto {
  background-image: url(../vendors/img/plank_resizedform-QdoXA6PMy_I-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  padding-top: 2rem;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 750px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  top: 0;
  left: 0;
}

.moto h4 {
  margin-top: 2rem;
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

.moto .lesson {
  border: 1px solid white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2;
  padding: 9px 1px 6px 9px;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}

.moto .lesson h5 {
  font-size: 1.6rem;
  color: white;
  text-align: center;
}

.moto .lesson h3 {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.moto .lesson h3 h5,
.moto .lesson h3 h3 {
  font-family: 'Montserrat', sans-serif;
}

.sessions .girls {
  padding-top: 0.2rem;
  background-color: #e7e7e7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 750px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  top: 0;
  left: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sessions .girls h4 {
  color: #717171;
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-left: 2.8rem;
}

.sessions .girls h2 {
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #404040;
  font-weight: 600;
}

.sessions .girls .aboutTD {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  text-align: center;
  padding: 1.5rem 1rem;
}

.sessions .girls .aboutTD:after {
  display: block;
  height: 2px;
  background-color: #717171;
  content: " ";
  width: auto;
  margin: 0 1.5rem;
  margin-top: 30px;
}

.sessions .girls h3 {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  margin-top: 1.2rem;
  margin-left: 2rem;
  color: #404040;
}

.sessions .girls h3 span {
  border-style: groove;
  padding: 3px;
  margin-left: 9rem;
}

.sessions .girls p {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: initial;
  margin-left: 2.5rem;
}

.sessions .girls img {
  padding: 0.7rem 2rem;
}

.sessions .guys {
  padding-top: 0.2rem;
  background-color: #e7e7e7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 750px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  top: 0;
  left: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sessions .guys h3 {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  margin-top: 1.2rem;
  margin-left: 2rem;
  color: #404040;
}

.sessions .guys h3 span {
  border-style: groove;
  padding: 3px;
  margin-left: 4rem;
}

.sessions .guys p {
  text-transform: initial;
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 2.5rem;
}

.sessions .guys img {
  padding: 0.7rem 2rem;
}

.bootcamps {
  padding-top: 0.2rem;
  background-color: #e7e7e7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 750px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  top: 0;
  left: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.bootcamps h2 {
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #404040;
  font-weight: 600;
}

.bootcamps a:link,
.bootcamps a:visited {
  text-decoration: none;
}

.bootcamps a:hover,
.bootcamps a:active {
  text-decoration: underline;
  color: #a4a4a4;
}

.bootcamps .Johny h4,
.bootcamps .Aka h4,
.bootcamps .Darrell h4,
.bootcamps .Nakreshia h4 {
  font-family: 'Roboto', sans-serif;
  color: #a4a4a4;
  font-size: 1.2rem;
  margin-left: 2.5rem;
}

.bootcamps .Johny img,
.bootcamps .Aka img,
.bootcamps .Darrell img,
.bootcamps .Nakreshia img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.Johny p {
  text-transform: uppercase;
  color: #404040;
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 2.5rem;
}

.Johny p span {
  border-style: groove;
  padding: 1px 6px;
  color: #717171;
  margin-left: 9.9rem;
  font-size: 1.3rem;
}

.Aka p {
  text-transform: uppercase;
  color: #404040;
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 2.5rem;
}

.Aka p span {
  border-style: groove;
  padding: 1px 6px;
  color: #717171;
  margin-left: 2rem;
  font-size: 1.3rem;
}

.Darrell p {
  text-transform: uppercase;
  color: #404040;
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 2.5rem;
}

.Darrell p span {
  border-style: groove;
  padding: 1px 6px;
  color: #717171;
  margin-left: 11.1rem;
  font-size: 1.3rem;
}

.Nakreshia p {
  text-transform: uppercase;
  color: #404040;
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 2.5rem;
}

.Nakreshia p span {
  border-style: groove;
  padding: 1px 6px;
  color: #717171;
  margin-left: 8rem;
  font-size: 1.3rem;
}

.better h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  padding: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: #404040;
  font-weight: 700;
}

.better:before {
  display: block;
  height: 2px;
  background-color: #717171;
  content: " ";
  width: 90%;
  margin: 0 2rem;
  margin-top: 2rem;
}

.cities {
  position: relative;
  background-color: #e7e7e7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 750px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  top: 0;
  left: 0;
}

.cities .dog-girl {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cities .box-1 {
  position: relative;
  margin-left: -1rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.cities .Toronto {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cities .box-2 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.cities .LA {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cities .box-3 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9rem;
}

.cities .NY {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cities .box-4 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9rem;
}

.cities .Miami {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cities .box-5 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9rem;
}

.cities .Atlanta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */