$primary-color: black;
$darkgray-color: #404040;
$background-color: black;
$accent-button-color: #ffbb00;
$lightgray: #a4a4a4;
$verylightgray: #e7e7e7;
$mediumgray: #717171;
$smudgywhite: #ebebeb;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	line-height: 1.6;
}

body {
	color: $mediumgray;
	background: $primary-color;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	overflow-x: hidden;
}

.intro,
.pick,
section,
.moto,
.sessions,
.bootcamps,
.cities,
.trainers,
footer {
	display: block;
}

b,
strong {
	font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

ol ul,
ul ol,
ul ul,
ol ol {
	margin-top: 0;
	margin-bottom: 0;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/*
	1.
	Correct thetextwrappinginEdgeandIE.
	*
	2.Correctthecolorinheritancefrom`fieldset`elementsinIE.
	*
	3.
	Remove	thepaddingsodevelopersarenotcaughtoutwhentheyzeroout
	*	`fieldset`	elements	in	all	browsers.
	*/
legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
	*/

textarea {
	overflow: auto;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
	display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
	display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
	display: none;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

img {
	max-width: 100%;
}

.intro {
	background-image: url(../vendors/img/alora-griffiths-LOnMc8Rp1Qs-unsplash.jpg);
	gradient: linear-gradient(to right, rgba(0, 0, 0, 0.986), rgba(235, 235, 235, 0.1));
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 460px;
	/* Set up proportionate scaling */
	width: 100%;
	height: 100%;
	/* Set up positioning */
	top: 0;
	left: 0;
}

.intro-middle h1 {
	font-family: 'Montserrat', sans-serif;
	line-height: 87%;
	font-size: 3.8rem;
	letter-spacing: 0.15rem;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	margin-left: 1.5rem;
	margin-bottom: 0.5rem;
}

.intro-middle h2 {
	font-size: 1.2rem;
	font-weight: 400;
	margin-left: 1.5rem;
	color: white;
	line-height: 1.4;
	text-align: left;
}

.intro-top-left {
	text-align: left;
	margin-left: 1.2rem;
	margin-top: 0.6rem;

	h3 {
		font-size: 1rem;
		color: $accent-button-color;
		font-weight: 200;
	}
}

.intro-top-right {
	text-align: center;
	font-size: 0.8rem;
	margin-left: 12rem;

	a:link,
	a:visited {
		font-size: 1rem;
		font-weight: 700;
		padding-bottom: 1.8rem;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}

	a:hover,
	a:active {
		color: $accent-button-color;
	}

	.btn-ghost:link,
	.btn-ghost:visited {
		display: inline-block;
		font-size: 1rem;
		font-weight: 400;
		padding: 5px 8px 5px 8px;
		margin-top: 1.3rem;
		border: 2px solid $accent-button-color;
		color: $accent-button-color;
		text-align: center;
	}

	.btn-ghost:hover,
	.btn-ghost:active {
		font-size: 1rem;
		font-weight: 400;
		padding: 6px 8px;
		margin: 2rem 0 1.8rem 2.8rem;
		background-color: rgb(233, 156, 15);
		border: 2px solid $accent-button-color;
		color: white;
		text-decoration: none;
	}
}

.intro-bottom {
	.btn-ghost:link,
	.btn-ghost:visited {
		display: inline-block;
		font-size: 1rem;
		font-weight: 400;
		padding: 6px 8px;
		margin: 2rem 0rem 1.8rem 2rem;
		border: 2px solid $accent-button-color;
		color: $accent-button-color;
		text-align: center;
		text-decoration: none;
	}

	.btn-ghost:hover,
	.btn-ghost:active {
		font-size: 1rem;
		font-weight: 400;
		padding: 6px 8px;
		margin: 2rem 0rem 1.8rem 2.8rem;
		background-color: rgb(233, 156, 15);
		border: 2px solid $accent-button-color;
		color: white;
		text-decoration: none;
	}

	.btn-full:link,
	.btn-full:visited {
		display: inline-block;
		font-size: 1rem;
		font-weight: 500;
		padding: 6px 8px;
		margin: 2rem 0 1.8rem 1rem;
		background-color: $accent-button-color;
		border: 2px solid $accent-button-color;
		color: black;
		text-align: center;
		text-decoration: none;
	}

	.btn-full:hover,
	.btn-full:active {
		border: 2px solid #ebac00e7;
		background-color: rgb(233, 156, 15);
		color: white;
		font-weight: 500;
		text-decoration: none;
	}
}

.pick {
	background-image: url(../vendors/img/mark-bertulfo-Frx8qskriDI-unsplash.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: black;
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 500px;
	/* Set up proportionate scaling */
	width: 100%;
	height: 100%;
	/* Set up positioning */
	top: 0;
	left: 0;
	text-align: center;
	justify-content: center;

	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.5rem;
		line-height: 1.2;
		color: white;
		font-weight: 700;
		padding-top: 0.9rem;
		text-align: center;
		margin-right: 2rem;
	}

	h3 {
		font-size: 1.2rem;
		color: white;
		margin-right: 2rem;
	}

	p {
		color: $smudgywhite;
		font-size: 1.1rem;
		line-height: 1.3;
		margin-right: 6.2rem;
		margin-left: 2rem;
		margin-top: 0.2rem;
		margin-bottom: 1.4rem;
		font-weight: 400;
	}

	.runner {
		transform: scale(0.7, 0.7);
		-webkit-transform: scale(0.7, 0.7);
		-moz-transform: scale(0.7, 0.7);
		-ms-transform: scale(0.7, 0.7);
		-o-transform: scale(0.7, 0.7);
		margin-bottom: -1rem;
		margin-top: -1rem;
		margin-right: 2rem;
	}

	.dumbbell {
		background-color: white;
		border: none;
		color: black;
		text-align: center;
		padding: 1.4rem;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		transform: scale(0.7, 0.7);
		-webkit-transform: scale(0.7, 0.7);
		-moz-transform: scale(0.7, 0.7);
		-ms-transform: scale(0.7, 0.7);
		-o-transform: scale(0.7, 0.7);
		margin-bottom: -1rem;
		margin-top: -1rem;
		margin-right: 2rem;
	}

	.calendar {
		transform: scale(0.7, 0.7);
		-webkit-transform: scale(0.7, 0.7);
		-moz-transform: scale(0.7, 0.7);
		-ms-transform: scale(0.7, 0.7);
		-o-transform: scale(0.7, 0.7);
		margin-bottom: -1rem;
		margin-top: -1rem;
		margin-right: 2rem;
	}
}

.moto {
	background-image: url(../vendors/img/plank_resizedform-QdoXA6PMy_I-unsplash.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;

	/* Set rules to fill background */
	min-height: 100%;
	min-width: 460px;
	/* Set up proportionate scaling */
	width: 100%;
	height: 100%;
	/* Set up positioning */
	top: 2;

	h4 {
		color: white;
		text-align: center;
		font-size: 0.8rem;
	}

	.lesson {
		border: 1px solid white;
		align-items: center;

		line-height: 1.2;
		padding: 10px 13px 6px 13px;
		margin-left: 6rem;
		margin-right: 6rem;
		margin-top: 1rem;
		margin-bottom: 1.8rem;

		h4 {
			font-size: 0.7;
		}

		h5 {
			font-size: 1.2rem;
			color: white;
			text-align: center;
		}

		h3 {
			font-size: 1.4rem;
			color: white;
			text-align: center;

			h5,
			h3 {
				font-family: 'Montserrat', sans-serif;
			}
		}
	}
}

.sessions {
	.girls {
		padding-top: 0.2rem;
		background-color: $verylightgray;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		/* Set rules to fill background */
		min-height: 100%;
		min-width: 800px;
		/* Set up proportionate scaling */
		width: 100%;
		height: 100%;
		/* Set up positioning */
		top: 0;
		left: 0;
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		h4 {
			color: $mediumgray;
			font-size: 1rem;
			margin-top: 0.3rem;
			margin-left: 2.8rem;
		}

		h2 {
			font-size: 2rem;
			padding: 1rem;
			text-transform: uppercase;
			text-align: center;
			color: $darkgray-color;
			font-weight: 600;
		}

		.aboutTD {
			font-family: 'Roboto', sans-serif;
			font-size: 1.4rem;
			text-align: center;
			padding: 1.5rem 1rem;
		}

		.aboutTD:after {
			display: block;
			height: 2px;
			background-color: $mediumgray;
			content: " ";
			width: auto;
			margin: 0 1.5rem;
			margin-top: 30px;
		}

		h3 {
			font-size: 1.5rem;
			padding: 0.5rem;
			text-transform: uppercase;
			margin-top: 1.2rem;
			margin-left: 2rem;
			color: $darkgray-color;

			span {
				border-style: groove;
				padding: 3px;
				margin-left: 9rem;
			}
		}

		p {
			font-size: 1.4rem;
			font-weight: 300;
			text-transform: initial;
			margin-left: 2.5rem;
		}

		img {
			padding: 0.7rem 2rem;
		}
	}

	.guys {
		padding-top: 0.2rem;
		background-color: $verylightgray;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		/* Set rules to fill background */
		min-height: 100%;
		min-width: 800px;
		/* Set up proportionate scaling */
		width: 100%;
		height: auto;
		/* Set up positioning */
		top: 0;
		left: 0;

		padding-left: 1.5rem;
		padding-right: 1.5rem;

		h3 {
			font-size: 1.5rem;
			padding: 0.5rem;
			text-transform: uppercase;
			margin-top: 1.2rem;
			margin-left: 2rem;
			color: $darkgray-color;

			span {
				border-style: groove;
				padding: 3px;
				margin-left: 4rem;
			}
		}

		p {
			text-transform: initial;
			font-size: 1.4rem;
			font-weight: 300;
			margin-left: 2.5rem;
		}

		img {
			padding: 0.7rem 2rem;
		}
	}
}

.bootcamps {
	padding-top: 0.2rem;
	background-color: $verylightgray;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	/* Set rules to fill background */
	min-height: 100%;
	min-width: 800px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	top: 0.1rem;
	left: 0.2rem;

	padding-left: 1.5rem;
	padding-right: 1.5rem;

	h2 {
		font-size: 2rem;
		padding: 1rem;
		text-transform: uppercase;
		text-align: center;
		color: $darkgray-color;
		font-weight: 600;
	}

	a:link,
	a:visited {
		text-decoration: none;
	}

	a:hover,
	a:active {
		text-decoration: underline;
		color: $lightgray;
	}

	.Johny,
	.Aka,
	.Darrell,
	.Nakreshia {
		h4 {
			font-family: 'Roboto', sans-serif;
			color: $lightgray;
			font-size: 1.2rem;
			margin-left: 2.5rem;
		}

		img {
			transform: scale(1.3);
			-webkit-transform: scale(1.3);
			-moz-transform: scale(1.3);
			-ms-transform: scale(1.3);
			-o-transform: scale(1.3);
		}
	}
}

.Johny p {
	text-transform: uppercase;
	color: $darkgray-color;
	font-size: 1.4rem;
	font-weight: 300;
	margin-left: 2.5rem;

	span {
		border-style: groove;
		padding: 1px 6px;
		color: $mediumgray;
		margin-left: 9.9rem;
		font-size: 1.3rem;
	}
}

.Aka p {
	text-transform: uppercase;
	color: $darkgray-color;
	font-size: 1.4rem;
	font-weight: 300;
	margin-left: 2.5rem;

	span {
		border-style: groove;
		padding: 1px 6px;
		color: $mediumgray;
		margin-left: 2rem;
		font-size: 1.3rem;
	}
}

.Darrell p {
	text-transform: uppercase;
	color: $darkgray-color;
	font-size: 1.4rem;
	font-weight: 300;
	margin-left: 2.5rem;

	span {
		border-style: groove;
		padding: 1px 6px;
		color: $mediumgray;
		margin-left: 11.1rem;
		font-size: 1.3rem;
	}
}

.Nakreshia p {
	text-transform: uppercase;
	color: $darkgray-color;
	font-size: 1.4rem;
	font-weight: 300;
	margin-left: 2.5rem;

	span {
		border-style: groove;
		padding: 1px 6px;
		color: $mediumgray;
		margin-left: 8rem;
		font-size: 1.3rem;
	}
}

.better h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	padding: 2rem;
	text-transform: uppercase;
	text-align: center;
	color: $darkgray-color;
	font-weight: 700;
}

.better:before {
	display: block;
	height: 2px;
	background-color: $mediumgray;
	content: " ";
	width: 90%;
	margin: 0 2rem;
	margin-top: 2rem;
}

.cities {
	position: relative;
	background-color: $verylightgray;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	/* Set rules to fill background */
	min-height: 100%;
	min-width: 800px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	top: 0;
	left: 0;

	.box-1 {
		position: relative;
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.8rem;
		margin-left: 0.2rem;
		margin-top: 0.4rem;
		text-transform: uppercase;

		.Toronto {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.box-4 {
		position: relative;
		color: white;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.8rem;
		text-transform: uppercase;

		.LA {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.box-5 {
		position: relative;
		color: white;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.8rem;
		text-transform: uppercase;

		.NY {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.box-7 {
		position: relative;
		color: white;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.8rem;
		text-transform: uppercase;

		.Miami {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.box-10 {
		position: relative;
		color: white;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.8rem;
		text-transform: uppercase;

		.Atlanta {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1px;
	background-color: $verylightgray;
	margin-left: 0.2rem;
}

.box {
	color: #fff;
	padding: 5px;
	font-size: 150%;
	text-transform: uppercase;
}

.trainers {
	background-image: url(../vendors/img/zachary-nelson-98Elr-LIvD8-unsplash.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: black;
	padding-top: 3rem;
	padding-bottom: 3rem;
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 800px;
	/* Set up proportionate scaling */
	width: 100%;
	height: 100%;
	/* Set up positioning */
	top: 0;
	left: 0;

	a:link,
	a:visited {
		font-size: 1.4rem;
		font-weight: 700;
		padding-left: 10rem;
		font-family: 'Roboto', sans-serif;
		color: $accent-button-color;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
	}

	a:hover,
	a:active {
		text-decoration: underline;
		color: rgb(233, 156, 15);
	}
}

.best_trainers {
	background-image: url(../vendors/img/stretch_alexander-mils-bpoSU5kmUfo-unsplash.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: black;
	padding: 0;
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 800px;
	/* Set up proportionate scaling */
	width: 100%;
	height: 100%;
	/* Set up positioning */
	top: 0;
	left: 0;

	h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 4.5rem;
		padding: 0;
		text-align: right;
		letter-spacing: 0.15rem;
		color: black;
		text-transform: uppercase;
		font-weight: 800;
		padding-top: 4rem;
		padding-bottom: 1rem;
		padding-right: 3rem;
		line-height: 99%;
	}

	h2 {
		font-size: 1.5rem;
		font-family: 'Roboto', sans-serif;
		text-align: right;
		color: black;
		padding-bottom: 3rem;
		padding-right: 3rem;
		font-weight: 700;
		text-transform: uppercase;

		a:link,
		a:visited {
			font-size: 1.5rem;
			font-weight: 700;
			font-family: 'Roboto', sans-serif;
			color: black;
			text-decoration: none;
			text-transform: uppercase;
			text-align: right;

			a:hover,
			a:active {
				text-decoration: underline;
				color: rgb(233, 156, 15);
			}
		}
	}
}

.footer {
	nav.shift ul li a {
		position: relative !important;
		z-index: 1 !important;
	}

	nav.shift ul li a:hover {
		color: #91640f !important;
	}

	nav.shift ul li a:after {
		display: block !important;
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		bottom: 0 !important;
		right: 0 !important;
		margin: 1rem !important;
		width: 70% !important;
		height: 1px !important;
		content: '.' !important;
		color: transparent !important;
		background: $accent-button-color !important;
		visibility: none !important;
		opacity: 0 !important;
		z-index: -1 !important;
	}

	nav.shift ul li a:hover:after {
		opacity: 1 !important;
		visibility: visible !important;
		height: 70% !important;
	}
}
