.intro {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url(../vendors/img/woman_lifting_weigth_alora-griffiths-mobile.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  @media only screen and (max-width: 767px) {
    .intro {
      /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
      background-image: url(vendors/img/woman_lifting_weigth_alora-griffiths-mobile.jpg);
    }
  }
}

.intro-middle h1 {
  font-size: 1.9rem;
  letter-spacing: 0.15em;
  color: white;
  text-transform: uppercase;
  line-height: 2;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 6rem;
}

.intro-middle h2 {
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  line-height: 2;
  text-align: left;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 0.4rem;
}

.intro-top-left h4 {
  font-weight: 100;
  text-align: left;
  margin-top: 0;
  font-size: 0.5rem;
  text-transform: uppercase;
}

.intro-top-right {
  text-align: right;
  margin-top: 0;
}

/* ----- LINKS ----- */

a:link,
a:visited {
  font-weight: 200;
  color: white;
  text-decoration: none;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-right: 3px;
  border-bottom: 1px solid white;
}

a:hover,
a:active {
  color: #f5b70c;
  border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: $accent-button-color;
  border: 1px solid $accent-button-color;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  font-weight: 200;
  padding: 5px 15px;
  border: 1px solid $accent-button-color;
  color: $accent-button-color;
  text-align: right;
}

.btn:hover,
.btn:active {
  background-color: $background4-color;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid $accent-button-color;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid $accent-button-color;
  color: $primary-color;
}
