.moto {
	background-image: url(../vendors/img/plank_form-unsplash_resized.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: black;
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	/* Set up positioning */
	top: 0;
	margin-left: -15%;

	@media only screen and (max-width: 767px) {
		.intro {
			/* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
			background-image: url(../vendors/img/plank_form-unsplash_resized.jpg);
		}
	}
}
