$primary-color: black;
$darkgray-color: #404040;
$background4-color: #f4f4f4;
$accent-button-color: #ffbb00;
$lightgray: #a4a4a4;
$verylightgray: #d8d8d8;
$mediumgray: #717171;
$smudgywhite: #ebebeb;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $mediumgray;
  background: $primary-color;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

section {
  padding: 80px 0;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.15em;
  line-height: 1;
  font-weight: 400;
}
h3 {
  font-size: 1.8rem;
}

h4 {
  margin-top: 0;
  font-size: 1rem;
}
img {
  max-width: 100%;
}

.section intro {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url(../vendors/img/woman_lifting_weigth_alora-griffiths-LOnMc8Rp1Qs-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}

.intro-middle h1 {
  font-size: 1.9rem;
  letter-spacing: 0.15em;
  color: white;
  text-transform: uppercase;
  line-height: 2;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 6rem;
}
.intro-middle h2 {
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  line-height: 2;
  text-align: left;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 0.4rem;
}

.intro-top-left h4 {
  font-weight: 100;
  text-align: left;
  margin-top: 0;
  font-size: 0.5rem;
  text-transform: uppercase;
}
.intro-top-right {
  text-align: right;
  margin-top: 0;
}
/* ----- LINKS ----- */

a:link,
a:visited {
  font-weight: 200;
  color: white;
  text-decoration: none;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-right: 3px;
  border-bottom: 1px solid white;
}

a:hover,
a:active {
  color: #f5b70c;
  border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */
.btn-ghost1:link,
.btn-ghost1:visited {
  font-weight: 200;
  padding: 5px 15px;
  border: 1px solid $accent-button-color;
  color: $accent-button-color;
  text-align: right;
}

.btn:link,
.btn:visited {
  font-weight: 200;
  display: inline-block;
  font-weight: 200;
  padding: 5px 15px;
  text-decoration: none;
  transition: &primarycolor 0.2s, border 0.2s, color 0.2s;
  -webkit-transition: &primarycolor 0.2s, border 0.2s, color 0.2s;
  -moz-transition: &primarycolor 0.2s, border 0.2s, color 0.2s;
  -ms-transition: &primarycolor 0.2s, border 0.2s, color 0.2s;
  -o-transition: &primarycolor 0.2s, border 0.2s, color 0.2s;
}
.btn-ghost2:link,
.btn-ghost2:visited {
  font-weight: 200;
  padding: 5px 15px;
  border: 1px solid $accent-button-color;
  color: $accent-button-color;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 200;
  padding: 5px 15px;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  padding: 5px 15px;
  background-color: $accent-button-color;
  color: black;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid $accent-button-color;
  color: $accent-button-color;
}

.btn:hover,
.btn:active {
  font-weight: 200;
  background-color: $accent-button-color;
}

.btn-full:hover,
.btn-full:active {
  font-weight: 200;
  border: 1px solid $accent-button-color;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid $accent-button-color;
  color: &primarycolor;
}
